*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# Ignore Lambda dependencies, but not Lambda code
lambda/*
!lambda/lambda.py

# Ignore file that stores API key
credentials.env

# CDK asset staging directory
.cdk.staging
cdk.out
