*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# Ignore Lambda dependencies, but not Lambda code
lambda/*
!lambda/scraper.py

# Ignore file that stores API key
secrets.txt

# CDK asset staging directory
.cdk.staging
cdk.out
